<h1>Spontaneous Event</h1>

<textarea>
<%= @deck.raw %>
</textarea>
<script src="https://remarkjs.com/downloads/remark-latest.min.js" type="text/javascript">
</script>
<script type="text/javascript">
  var slideshow = remark.create()
</script>
