<div style="height: 100vh; touch-action: manipulation;" class="d-flex flex-justify-center flex-items-center">
  <div
    data-controller="deck scalable"
    data-action="next->deck#next previous->deck#previous request-fullscreen->deck#fullscreen"
    style="transform-origin: center center; --scalable-width: 16em; --scalable-height: 9em; touch-action: none"
    class="position-relative d-flex flex-justify-center flex-items-center overflow-scroll bg-gray-dark"
  >
    <input type="hidden" data-controller="key" data-key-combo="j" data-key-event="next" />
    <input type="hidden" data-controller="key" data-key-combo="right" data-key-event="next" />
    <input type="hidden" data-controller="key" data-key-combo="pagedown" data-key-event="next" />
    <input type="hidden" data-controller="key" data-key-combo="k" data-key-event="previous" />
    <input type="hidden" data-controller="key" data-key-combo="left" data-key-event="previous" />
    <input type="hidden" data-controller="key" data-key-combo="pageup" data-key-event="previous" />
    <input type="hidden" data-controller="key" data-key-combo="f" data-key-event="request-fullscreen" />

    <input type="hidden" data-controller="key navigation" data-key-combo="esc" data-key-event="exit" data-action="exit->navigation#back" />

    <input type="hidden" data-controller="gesture" data-gesture-name="swipeleft" data-gesture-event="next" />
    <input type="hidden" data-controller="gesture" data-gesture-name="swiperight" data-gesture-event="previous" />

    <div class="position-fixed width-full top-0 d-flex flex-justify-between p-2">
      <a href="/"><%= octicon "book", height: 16 %></a>
    </div>
    <div class="position-fixed width-full bottom-0 d-flex flex-justify-between p-2" style="touch-action: none">
      <button data-action="deck#previous" data-target="deck.previousControl" type="button" class="m-0 p-0 btn-octicon" style="touch-action: none">
        <%= octicon "arrow-left", height: 16, class: "" %>
      </button>
      <button data-action="deck#next" data-target="deck.nextControl" type="button" class="m-0 p-0 btn-octicon" style="touch-action: none">
        <%= octicon "arrow-right", height: 16, class: "" %>
      </button>
    </div>

    <div data-deck-container>
      <% @deck.slides.each do |slide| %>
        <div data-target="deck.slide" style="font-size: 0.5em" class="text-center text-white">
          <% sanitize(slide).split(/\r?\n/).map(&:chomp).reject(&:blank?).each do |line| %>
            <p><%= raw line %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
