<div data-controller="deck">
  <% @deck.slides.each do |slide| %>
    <div data-target="deck.slide">
      <%= slide %>
    </div>
  <% end %>

  <button data-action="deck#previous" data-target="deck.previousControl">&lt;</button>
  <button data-action="deck#next" data-target="deck.nextControl">&gt;</button>
</div>
